<div class="min-h-full">
  <main>
    <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
      <div class="max-w-md p-8 mx-auto rounded-lg dark:bg-gray-900 dark:text-gray-100">
        <div data-controller="prediction">
          <div id="prediction" data-prediction-target="weatherHeader"></div>
          <canvas id="prediction" data-prediction-target="myChart" class="max-w-md mx-auto rounded-lg" width="1000" height="300"></canvas>
          <div id="prediction" data-prediction-target="weatherList"></div>
        </div>
      </div>
    </div>
  </main>
</div>